<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container card">
      <h1>Hi <%= @following.name %></h1>
      <p><%= @follower.name %> (@<%= @follower.username %>) is now following you!</p>   
    </div>
  </body>
</html>
