<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container card">
      <h1>Hi <%= @admin_name %></h1>
      <p>
        Here are the app stats:
        <p>Total users: <%= @total_users %></p>
        <p>Total likes between users: <%= @total_likes %></p>
      <p>Total follows: <%= @total_follows %></p>
      </p>
    </div>
  </body>
</html>
