/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed|Ubuntu+Mono');

* {
  @apply text-dark;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bg-image {
  background: url('../../assets/images/bg.svg') no-repeat; 
  background-size: 40em;
}


html, body, #container { height: 100%!important; @apply bg-primary-lightest; }

[data-react-class='sessions/SignUp'] { height: 100%; } 
[data-react-class='sessions/SignIn'] { height: 100%; } 

.duration-1 { transition-duration: 0.1s; }
.duration-2 { transition-duration: 0.2s; }
.duration-3 { transition-duration: 0.3s; }
.duration-4 { transition-duration: 0.4s; }
.duration-5 { transition-duration: 0.5s; }
.duration-6 { transition-duration: 0.6s; }
.duration-7 { transition-duration: 0.7s; }
.duration-8 { transition-duration: 0.8s; }
.duration-9 { transition-duration: 0.9s; }

.rotate-x-0 {
  transform: rotateX(0deg);
  transform-origin: top;
}
.rotate-x-45 {
  transform: rotateX(45deg);
  transform-origin: top;
}
.rotate-x-90 {
  transform: rotateX(90deg);
  transform-origin: top;
}
.rotate-x-135 {
  transform: rotateX(135deg);
  transform-origin: top;
}
.rotate-x-180 {
  transform: rotateX(180deg);
  transform-origin: top;
}

.profile-pic-size {
  height: 90px;
  width: 90px;
}

.btn {
  @apply cursor-pointer py-2 px-4 rounded text-center;
  transition-duration: 0.2s;
}
.btn.primary {
  @apply bg-primary text-white;
}
.btn.primary:hover {
  @apply bg-primary-light;
}
.btn.red {
  @apply border border-red text-red;
}
.btn.red:hover {
  @apply border-red-light;
}


a {
  @apply text-primary-light duration-2 no-underline cursor-pointer;
}

a:hover {
  @apply text-primary;
}

ul {
  text-align: left;
}
li {
  list-style: none;
}

label {
  @apply block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2;
}

.input {
  @apply appearance-none block w-full bg-grey-lightest text-dark border border-dark-lighter rounded py-3 px-4 mb-3 leading-tight;
}
.input:focus {
  @apply outline-none bg-white border-primary-light;
}

.textarea {
  @apply appearance-none inline-block text-sm w-full bg-grey-lightest text-dark border border-dark-lighter rounded py-3 px-4 mb-3;
  overflow-wrap: break-word;
  min-height: 10px;
  resize: none;
}
.textarea:focus {
  @apply outline-none bg-white border-primary-light;
}

.card {
  @apply rounded overflow-hidden shadow-md bg-white;
}

.title {
  @apply font-bold py-2 text-lg;
}

.fa {
  @apply mr-1;
  color: inherit;
}
.fa-normal {
  margin: none;
}

.emoji {
  height: 2em;
}

/**************************************/
/**********| MarkdownParser |**********/
/**************************************/


h1 { @apply font-bold text-3xl; }
h2 { @apply font-bold text-2xl; }
h3 { @apply font-bold text-xl; }
h4 { @apply font-bold text-lg; }
h5 { @apply font-bold text-base; }
h6 { @apply font-bold text-sm; }

pre {
  margin: 3px 0px !important;
  overflow-y: scroll;
}

ul {
  padding: 15px;
}

li {
  list-style: disc;
}

@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
